.Graph {
  width: 100%;
  height: 400px;
  padding: 10px;
}

.Graph .graph {
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--card-bg);
  box-shadow: 5px 5px 10px #00000055;
  padding: 20px 5px;
}

.Graph .title {
  text-align: center;
}
.Graph p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.Graph button {
  padding: 0rem 0.3rem;
  font-size: 0.8rem;
}
.Graph button:hover {
  background-color: #ffffffa5;
}

.Graph .graph-content {
  width: 100%;
  height: 80%;
  font-size: 0.9rem;
}
