.List {
  padding: 10px;
}

.snippets-list {
  height: 100%;
  border-radius: 20px;
  background-image: var(--card-bg);
  box-shadow: 5px 5px 10px #00000055;
}

.snippets-list h2 {
  text-align: center;
}

@media (max-width: 799px) {
  .List {
    width: 100%;
  }
  .snippets-list {
    padding: 10px 5px;
  }
  .snippets-list-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 80px;
  }
}

@media (min-width: 800px) {
  .snippets-list {
    padding: 20px 5px;
  }
  .snippets-list-content {
    display: block;
  }
}
