.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

#app-title {
  font-size: 2rem;
  color: var(--light);
}

.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
}

.current-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-upper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
}

.snippet-container {
}

.graph-container {
  width: 100%;
}

@media (max-width: 799px) {
  .app-container {
    flex-direction: column;
  }
  .list-container,
  .current-container,
  .current-upper,
  .input-container,
  .snippet-container,
  .graph-container {
    width: 100%;
  }
  .current-upper {
    flex-direction: column;
  }
}

@media (min-width: 800px) {
  .App {
    justify-content: center;
  }
  .app-container {
    flex-direction: row;
  }
  .current-upper {
    flex-direction: row;
  }
}
