.Snippet {
  height: 300px;
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Snippet .code-snippet {
  background: var(--card-bg);

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 5px 5px 10px #00000055;
  width: 100%;
  height: 100%;
  padding: 20px 5px;
}
.Snippet .title {
  text-align: center;
}

.Snippet p {
  padding-left: 1rem;
}

.Snippet code {
  color: var(--light);
  font-size: 0.8rem;
}
