.ListSnippet {
  height: 70px;
}
.snippet {
  height: 100%;
  border-radius: 5px;
  background-color: var(--snippet-bg);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-size: 1rem;
}
.snippet:hover {
  background-color: #ffffff8b;
  cursor: pointer;
}
.active {
  color: #fff;
  border: 1px solid white;
}
